/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


/* ===== BASE STYLES ===== */

/*
  Setting type to a major second modular scale
  http://www.modularscale.com/?16&&1.125&web&text
*/


html {
  font-family: "Nunito", sans-serif;
  font-size: 1.18em; /* 19px */
  line-height: 1.21em; /* 23px = 1 gridline*/
  background-color: #CFD8DC;
  color: #FFFFFF;
}

h1 {
  padding-top: 0.94em; /* 15 px */
  font-size: 2.5em; /* 40px */
  font-weight: bold;
  line-height: 1.31; /* 46 @ 35px em */
  padding-bottom: 0.94em; /* 15px */
  text-align: center;
  color: #607D8B;
}

/* ===== LAYOUT STYLES ===== */

.reasons-list {
  margin-left: 1.25em;
  margin-right: 1.25em;
  line-height: 1.56em;
  font-weight: 400;
  font-size: 19px;
  padding-bottom: 1.66em;
  text-align: left;
}

.register {
  width: 60%;
  margin: 0 auto;
}

input,
text,
email {
  width: 100%;
  padding: 0.9375em;
  border-radius: 0.3125em;
  border-style: none;
  font-size: 0.9375em;
}

.name {
  padding-bottom: 0.9375em;
}

label {
  float: left;
  color: #607D8B;
}

label, name {
  padding-bottom: 0.9375em;
}

.button {
  font-size: 1em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #93C757;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #7AB03B;
}

.submit-button {
  padding: 0.625em;
  padding-top: 2.1875em;
  width: 100%;
  padding-left: 1em;
}

.copy {
    font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
}

.question {
  font-size: 1em;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 25px;   
  padding-bottom: 25px;
  text-align: center;
  color: #77AAAD;    
}

.news {
  float: left;
  padding-right: 0.625em;
}

.calendar {
  float: left;
  padding-right: 0.625em; 
}

.tips {
  float: left;
  padding-right: 0.625em;   
}

.read {
  float: left;
  padding-right: 0.625em;
}

/* ===== STATE STYLES ===== */

/* 775 @ 16px/em */
@media screen and (min-width: 48.4375em) {
  #page {
    margin: 0 25.42857143% 0 14.28571429%;
  }
}

@media screen and (min-width: 990em) {
  #page {
    margin: 0;
  }
  .content {
    position: relative;
  }
  #primary {
    width: 54%; /* 378px @ 700px */
    float: left;
  }
  #secondary {
    width: 39.71428571%; /* 278px @ 700px */
    float: right;
  }
  footer {
    clear: both;
  }
}

@media screen and (min-width: 21.81em) {
  #Mac {
    display: inline;
    padding-left: 2em;
  }
}


