/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-family: 'Nunito', sans-serif;
  font-size: 1.18em; /* 19px */
  line-height: 1.21em; /* 23px = 1 gridline*/
  background-color: #CFD8DC;
  color: #FFFFFF;
}

h1 {
  padding-top: 0.94em; /* 15 px */
  font-size: 2.5em; /* 40px */
  font-weight: bold;
  line-height: 1.31; /* 46 @ 35px em */
  padding-bottom: 0.94em; /* 15px */
  text-align: center;
  color: #607D8B;
}

.reasons-list {
    margin-left: 1.25em;
    margin-right: 1.25em;
    line-height: 1.56em;
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 1.66em;
}

.register {
    width: 60%;
    margin: 0 auto;  
}

input,
text, 
email {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
}

.name {
    padding-bottom: 15px;
}

label {
    float:left;
    color: #607D8B;
}

label, name {
    padding-bottom: 15px;
}

.button {
    font-size: 16px;
    font-weight:500;
    color: #FFFFFF;
    background-color: #93c757;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #7ab03b;
}

.submit-button {
   padding: 10px;
   padding-top: 35px;
   width: 150px;
   padding-left: 60px;
}
